.anchor
.cursor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.pretterignore
package-lock.json
.yarn
yarn.lock
hothahaha-focx
hothahaha-focx.*
buffer-keypair.*
new-program-keypair.*
program-keypair.*
.augment-guidelines

temp/
logs/
coverage/
.augment/